@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
  font-size: 62.5%;
  line-height: 1.9rem;
}

/*---------- VARIABLES --------- */

:root {
  --primary: #2a5bd7;
  --primary-strong: #0e4ceb;
  --max-width: 1160px; 
}

/*---------- GENERIC --------- */
.primary-btn{
  background-color: var(--primary);
  color: white;
  padding: 1.1rem 1.6rem;
  border-radius: 0.6rem; 
  text-decoration: none; 
} 

.link{
  color: black;
  text-decoration: none;
}

.blue {
  color: var(--primary);
}

/*---------- HEADER --------- */

.header-container{
  max-width: var(--max-width); 
  padding: 20px 8px 8px; 
  margin: auto;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.header-logo{
  height: 4.1rem;
  margin-left: 0.5rem; 
}

.header-main-nav{
  display: flex;
  justify-content: space-between;
}

.header-nav{
  font-size: 1.4rem;
  position: relative;
  align-self: flex-start;
  min-width: 530px; 
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-around;
}

.header-nav-item{
  cursor: default;
  position: relative;
}
.header-nav-item:hover{
  color: var(--primary-strong);
  cursor: default;
  position: relative;
}

.header-nav-item::after{
  content: "";
  height: 0.2rem;
  width: calc(70%); 
  border-radius: 2rem;    
  background-color: var(--primary);
  position: absolute;
  bottom: -1rem;  
  left: 15%; 
  transform: scaleX(0);
  transition: transform 0.2s;
}

.trigger{
  height: 30px; 
}

.header-nav-item:hover::after {
  transform: scaleX(1);
}

.header-login{
  align-self: flex-start;
  font-size: 1.4rem;
  display: flex;
  min-width: 33rem;
  justify-content: space-around;
}

/*---------- DROPDOWN MENU --------- */

.dropdown-menu {
  width: 50rem;
  padding: 1.5rem; 
  background-color: white;
  position: absolute;
  top: 28px; 
  left: 0; 
  list-style: none;
  text-align: none;
  border: solid 1px rgba(0, 0, 0, 0.089);    
  box-shadow: 0.2rem 0.5rem 1.2rem rgba(0, 0, 0, 0.171); 
  border-radius: 0.6rem;  
  z-index: 100; 
} 

.dropdown-menu li {
  color: black; 
  background: white; 
  cursor: pointer;
}

.dropdown-menu li:hover{
  background: #f3f3f3; 
}

.dropdown-menu.clicked {
  display:none
}

.dropdown-link {
  display: flex; 
  width: 100%;
  height: 100%;
  text-decoration: none; 
  color: rgb(51, 51, 51); 
  padding: 1rem; 
}
.dropdown-link:hover {
  color: var(--primary); 
}

.dropdown-icon{
  margin-right: 1.3rem;
  margin-bottom: 0.4rem;  
}  

.dropdown-main {
  font-weight: 600;  
}

.dropdown-secondary {
  font-size: 1.3rem;
  color: grey;  
}

.icon-fill{
  fill: currentColor;   
}


/*---------- HERO --------- */

.hero-container{
  width: 100%; 
  background-image:url(https://docrdsfx76ssb.cloudfront.net/static/1607442733/pages/wp-content/uploads/2020/05/illo-desktop-1440x651-1.jpg);
  z-index: 1; 
  background-size: auto;    
  background-repeat: no-repeat; 
  background-position: bottom;  
  margin: auto; 
  height: 45vh; 
  overflow: hidden;   
}

.hero-subcontainer {
  max-width: var(--max-width); 
  margin: auto; 
  height: 100%; 
}

.hero-left-text{
  height: 100%;
  transform: translateY(28%); 
  width: 60%; 
  margin-left: 1.3rem;  
}

.hero-title{
  font-size: 5.5rem;
  color: #252628; 
  font-weight: 800; 
  margin-bottom: 3rem;  
}

.hero-sub{
  line-height: 3rem; 
  color: #56575b;
  font-weight: 500;
  font-size: 2rem; 
  margin-bottom: 7rem; 
}

.hero-action {
  font-size: 1.7rem; 
  display: flex;
  flex-direction: column;  
  width: max-content; 
  align-items: center;
}

.hero-button{
  background-color: var(--primary);
  color: white;
  font-weight: 500;
  padding: 2rem 3.2rem; 
  margin-left: 0.2rem; 
  border-radius: 0.6rem; 
  text-decoration: none; 
}

.hero-action_sub {
  font-size: 1.5rem;
  font-weight: 500; 
  margin-top: 2.5rem; 
  margin-left: 1rem; 
}


/*---------- LINKER --------- */


.linker-container{
  z-index: 20; 
  height: 13rem;
  background-color: #0b1736; 
  padding: 2rem; 
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column; 
}

.linker-text{
  padding: 1.8rem 2rem;  
  width: 82rem; 
  border-radius: 1rem;  
  border: none; 
  margin-right: 1.5rem;
  font-size: 1.8rem; 
}

.linker-button{
  background-color: #1b3987;    
  margin-left: 1.5rem;
  padding: 2rem 11rem; 
  border-radius: 1rem; 
  border: none; 
  cursor: pointer; 
  color: white;
  font-size: 1.8rem; 
}

.linker-terms{
  color: #9ca1ad;
  font-size: 1.3rem;
  margin-top: 1rem; 
  margin-left: -5.5rem; 
}

/*---------- SCROLL --------- */
.scroll{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 1.9rem;
  font-size: 1.4rem; 
}